/* Hide hamburger on large screens */
@media (min-width: 1025px) {
    .hamburger {
        display: none;
    }
    .nav {
        position: static;
        background: none;
        height: auto;
        width: auto;
        flex-direction: row;
        gap: 40px;
        padding: 0;
    }

    .logout-btn {
        display: block;
    }

    .overlay {
        display: none !important;
    }
}
/* 1024px - Medium Screens (Laptop Small / iPad Landscape) */

@media (max-width: 1024px) {
    /*login responsive*/
    .wrapper {
        padding-top: 250px;
    }

    .login-container {
        width: 500px;
        padding: 25px;
    }

    .login-container h2 {
        font-size: 1.8rem;
    }

    button {
        font-size: 1.2rem;
    }
    /*header responsive*/
    /* HEADER */
    .header {
        height: 100px;
        width: 20%;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        z-index: 2000;
        border-radius: 60%;
        /*background: linear-gradient(135deg, #1a1a1a, #333);*/
        background: none;
    }

    /* MOBILE NAV MENU */
    .nav {
        position: fixed;
        top: 0;
        right: -300px;      /* Hidden by default */
        width: 300px;
        height: 100vh;
        padding-top: 150px;
        padding-left: 25px;
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        gap: 25px;
        transition: right 0.3s ease-in-out;
        z-index: 1500;
        justify-content: flex-start;
    }

    .nav.active {
        right: 0;
    }

    .nav a {
        font-size: 1.6rem;
        color: white;
    }

    /* FIXED LOGOUT BUTTON */
    .logout-btn {
        margin-top: 20px;
        font-size: 1.3rem;
        padding: 8px 15px;
        width: 80%;
        background: #ed0524;
        color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }

    /* HAMBURGER BUTTON */
    .hamburger {
        position: absolute;
        top: 25px;
        right: 25px;
        padding: 10px;
        font-size: 26px;
        color: black;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 3000;
    }

    /* DARK OVERLAY */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        z-index: 1000;
    }

    .overlay.active {
        display: block;
    }
    /* start intro section responsive*/
    .intro{
        padding-top: 200px;
        height: 450px;
    }
    .greeting{
        font-size: 2.8rem;
    }
    .name{
        font-size: 1.8rem;
    }
    .description{
        font-size: 1rem;
    }
    /* end intro section responsive*/
    /*start about section*/
    .about{
        padding: 70px 40px;
    }
    .about-container{
        max-width: 1300px;
    }
    .about-row{
        gap: 40px;
    }
    .about-info{
        padding: 15px;
    }
    .about-info h2{
        padding-top: 40px;
        font-size: 2.8rem;
        margin-bottom: 18px;
    }
    .about-info p{
        font-size: 1.1rem;
    }
    .my-img img{
        width: 250px;
        height: 250px;
    }
    .my-img i{
        font-size: 2.3rem;
    }
    /*my-location*/
    .map-wrapper{
        width: 100%;
        max-width: 900px;
        padding: 18px;
    }
    .map-wrapper .box h3{
        font-size: 1.8rem;
        margin-bottom: 8px;
    }
    .map-wrapper .box p{
        font-size: 1.1rem;
    }
    .map-wrapper iframe{
        margin-top: 8px;
        width: 90%;
        height: 340px;
    }
    /*end about section*/
    /*start project section*/
    .projects-section {
        padding: 60px 40px;
    }

    .projects-title h2 {
        font-size: 2.5rem;
    }

    .projects-title p {
        font-size: 1.1rem;
    }

    .project-grid {
        gap: 20px;
    }

    /* Adjust project card width to 100% on smaller screens */
    .project-card {
        width: 100%;
        max-width: 70%;
    }

    .project-card img {
        height: 250px; /* smaller image for tablets */
    }

    .project-info h3 {
        font-size: 1.3rem;
    }

    .project-info p {
        font-size: 1rem;
    }

    .project-icons i {
        font-size: 2rem;
    }
    /*end project section*/
    /*start contact section*/
    .contact-section {
        padding: 60px 40px;
    }

    .contact-container {
        flex-direction: column; /* stack form and info vertically */
        gap: 60px;
        padding: 30px;
        width: 80%;
    }

    .contact-form, .contact-info {
        width: 100%; /* full width for both */
    }

    .contact-form h2 {
        font-size: 2rem;
        text-align: center;
    }
    .contact-form p{
        text-align: center;
    }

    .contact-subtitle {
        font-size: 1.1rem;
    }

    .contact-form label {
        font-size: 1rem;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.95rem;
        padding: 10px;
    }

    .contact-form button {
        font-size: 1.2rem;
        padding: 10px;
    }

    .contact-info h3 {
        font-size: 1.8rem;
        text-align: center;
    }

    .info-box .label {
        font-size: 1.1rem;
    }

    .info-box p {
        font-size: 1rem;
    }
    /*end contact section*/
    /*start footer responsive*/
    .footer {
        padding: 20px 15px;
    }

    .footer p {
        font-size: 1rem;
        margin-bottom: 8px;
    }

    .footer-socials a {
        font-size: 1.5rem;
        margin: 0 8px;
    }
    /*end footer responsive*/

}
/*  768px - Tablets */
@media (max-width: 768px) {
    /*login responsive*/
    .wrapper {
        padding-top: 250px;
    }

    .login-container {
        width: 320px;
        padding: 20px;
    }

    .login-container h2 {
        font-size: 1.7rem;
    }

    .input-group label {
        font-size: 1rem;
    }

    button {
        font-size: 1.1rem;
        padding: 10px;
    }
    /*header responsive*/
    .header {
        height: 80px;
        width: 20%;
        padding: 0 15px;
        border-radius: 0;
        justify-content: flex-start;
        background: none;
    }
    /* HAMBURGER */
    .hamburger {
        top: 20px;
        right: 20px;
        font-size: 28px;
        padding: 8px;
    }
    /* MOBILE NAV */
    .nav {
        right: -260px;
        width: 260px;
        padding-top: 120px;
        padding-left: 20px;
        gap: 22px;
    }
    .nav a {
        font-size: 1.4rem;
    }

    .logout-btn {
        font-size: 1.2rem;
        padding: 10px;
        width: 85%;
    }

    .overlay.active {
        display: block;
    }
     /* INTRO SECTION */
    .intro {
        padding-top: 150px;
        height: auto;
        padding: 150px 20px 80px;
        text-align: center;
    }

    .greeting {
        font-size: 2.5rem;
    }

    .name {
        font-size: 1.6rem;
    }

    .description {
        font-size: 0.95rem;
    }
     /* ABOUT SECTION */
    .about {
        padding: 40px 25px;
    }

    .about-container {
        max-width: 100%;
    }

    .about-row {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .about-info {
        padding: 10px;
        text-align: center;
    }

    .about-info h2 {
        font-size: 2.3rem;
        padding-top: 20px;
        margin-bottom: 12px;
    }

    .about-info p {
        font-size: 1rem;
    }

    .my-img img {
        width: 220px;
        height: 220px;
    }

    .my-img i {
        font-size: 2rem;
    }

    .map-wrapper {
        max-width: 100%;
        padding: 12px;
    }

    .map-wrapper .box h3 {
        font-size: 1.6rem;
    }

    .map-wrapper iframe {
        width: 100%;
        height: 300px;
    }
    /* PROJECT SECTION */
    .projects-section {
        padding: 50px 25px;
    }

    .projects-title h2 {
        font-size: 2.2rem;
    }

    .projects-title p {
        font-size: 1rem;
    }

    .project-grid {
        grid-template-columns: 1fr;
        gap: 25px;
        justify-items: center;
    }

    .project-card {
        width: 100%;
        max-width: 90%;
    }

    .project-card img {
        height: 220px;
        object-fit: cover;
    }

    .project-info h3 {
        font-size: 1.2rem;
    }

    .project-info p {
        font-size: 0.95rem;
    }

    .project-icons i {
        font-size: 1.7rem;
    }
    /* CONTACT SECTION */
    .contact-section {
        padding: 50px 30px;
    }

    .contact-container {
        flex-direction: column;
        width: 100%;
        gap: 40px;
        padding: 20px;
    }

    .contact-form,
    .contact-info {
        width: 100%;
    }

    .contact-form h2 {
        font-size: 1.8rem;
    }

    .contact-subtitle {
        font-size: 1rem;
    }

    .contact-form label {
        font-size: 1rem;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.9rem;
        padding: 10px;
    }

    .contact-form button {
        font-size: 1.1rem;
        padding: 10px;
    }

    .contact-info h3 {
        font-size: 1.6rem;
    }

    .info-box .label {
        font-size: 1rem;
    }

    .info-box p {
        font-size: 0.95rem;
    }
    /* FOOTER */
    .footer {
        padding: 20px 15px;
        text-align: center;
    }

    .footer p {
        font-size: 0.95rem;
    }

    .footer-socials a {
        font-size: 1.4rem;
        margin: 0 6px;
    }

}
/* 480px - Mobile Phones */
@media (max-width: 480px) {
    /*login responsive*/
    .wrapper {
        padding-top: 100px;
    }

    .login-container {
        width: 90%;
        padding: 18px;
        border-radius: 6px;
    }

    .login-container h2 {
        font-size: 1.6rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }

    .input-group input {
        padding: 8px;
        font-size: 13px;
    }

    button {
        font-size: 1rem;
        padding: 9px;
    }
    /* HEADER */
    .header {
        height: 70px;
        width: 20%;
        padding: 0 12px;
        justify-content: space-between;
    }

    .hamburger {
        top: 18px;
        right: 15px;
        font-size: 25px;
        padding: 6px;
    }

    .nav {
        width: 220px;
        right: -220px;
        padding-top: 100px;
        padding-left: 18px;
        gap: 18px;
    }

    .nav a {
        font-size: 1.2rem;
    }

    .logout-btn {
        font-size: 1.05rem;
        padding: 10px;
        width: 90%;
    }
    /* INTRO SECTION */
    .intro {
        padding: 120px 15px 60px;
        text-align: center;
    }

    .greeting {
        font-size: 2rem;
    }

    .name {
        font-size: 1.4rem;
    }

    .description {
        font-size: 0.85rem;
        line-height: 1.4;
    }
    /* ABOUT SECTION */
    .about {
        padding: 30px 20px;
    }

    .about-row {
        flex-direction: column;
        gap: 15px;
    }
    .about-info{
        text-align: center;
    }
    .about-info h2 {
        font-size: 1.9rem;
        padding-top: 10px;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .about-info p {
        font-size: 0.9rem;
        line-height: 1.4;
    }

    .my-img img {
        width: 180px;
        height: 180px;
    }

    .my-img i {
        font-size: 1.8rem;
    }

    .map-wrapper iframe {
        width: 100%;
        height: 240px;
    }

    .map-wrapper .box h3 {
        font-size: 1.4rem;
    }
    /* PROJECT SECTION */
    .projects-section {
        padding: 40px 20px;
    }

    .projects-title h2 {
        font-size: 1.9rem;
        text-align: center;
    }

    .projects-title p {
        font-size: 0.9rem;
        text-align: center;
    }

    .project-card {
        max-width: 100%;
    }

    .project-card img {
        height: 180px;
    }

    .project-info h3 {
        font-size: 1.1rem;
        text-align: center;
    }

    .project-info p {
        font-size: 0.85rem;
        text-align: center;
    }

    .project-icons i {
        font-size: 1.5rem;
    }
    /* CONTACT SECTION */
    .contact-section {
        padding: 40px 20px;
    }

    .contact-container {
        width: 100%;
        padding: 10px;
        gap: 30px;
    }

    .contact-form h2 {
        font-size: 1.6rem;
    }

    .contact-subtitle {
        font-size: 0.9rem;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.85rem;
        padding: 8px;
    }

    .contact-form button {
        font-size: 1rem;
        padding: 8px;
    }

    .contact-info h3 {
        font-size: 1.4rem;
    }

    .info-box .label {
        font-size: 0.9rem;
    }

    .info-box p {
        font-size: 0.85rem;
    }
    /* FOOTER */
    .footer {
        padding: 18px 10px;
    }

    .footer p {
        font-size: 0.85rem;
    }

    .footer-socials a {
        font-size: 1.2rem;
        margin: 0 5px;
    }
}