/*start design for login page*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f7f7f7;
    
    margin: 0;
}
.wrapper {
    padding-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-container{
    background-color: #4685eb;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.login-container h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
}
.subtitle {
    text-align: center;
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #444;
    font-weight: 500;
    font-size: 1.2rem;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't increase width */
    margin-top: 5px;
    transition: 0.3s ease;
    font-size: 14px;
}
.input-group input:focus {
    border-color: #4286f4;
    box-shadow: 0 0 5px rgba(66, 134, 244, 0.4);
    outline: none;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #636260;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
    transition: 0.3s ease;
}
button:hover {
    background-color: #242423;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
    display: none; /* Hidden by default */
}
/*end design for login page*/
/*start design header*/
.header{
    width: 100%;
    height: 200px;
    display: flex;
    /*display: block;*/
    /*flex-direction: column;*/
    /*position: absolute;*/
    position: fixed;
    background: linear-gradient(135deg, #1a1a1a, #333);
    top: 0;
    align-items: center;
    justify-content: space-between;
    /*z-index: 100;*/
    z-index: 1000;
    padding: 0 40px;
    padding-bottom: 10px;
}
.nav{
    display: flex;
    align-items: center;   /* centers items vertically */
    justify-content: center; /* optional: centers items horizontally inside the nav */
    padding-left: 450px;
}
.nav a{
    text-decoration: none;
    color: #dcdcdc;
    margin-left: 25px;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    padding-top: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}
.nav a:hover{
    color: #333;
    background-color: #4286f4;
    padding: 15px;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.3s ease;
}
.logout-btn{
    width: 150px;
    padding: 8px 18px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.logout-btn:hover {
    background-color: #d40000;
}
/*end design header*/
/*start intro section*/
.intro{
    width: 100%;
    height: 500px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 250px;
}
.intro-container {
    text-align: center;
    animation: fadeIn 1.2s ease-in-out forwards;
    opacity: 0;
}
.greeting {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: black;
}

.name {
    font-size: 2rem;
    font-weight: 500;
    color: black;
}

.name span {
    color: #4685eb;
    font-weight: 700;
}

.description {
    margin-top: 15px;
    font-size: 1.1rem;
    line-height: 1.7;
    opacity: 0.9;
    color: black;
    font-weight: 600;
}

.projects-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 32px;
    background: #4685eb;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s ease;
}

.projects-btn:hover {
    background: #e6b85c;
    transform: translateY(-3px);
}
/* Intro Fade Animation */
@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/*end intro section*/
/*start about section*/
.about{
    width: 100%;
    padding: 80px 50px;
    display: flex;
}

.about-container {
    max-width: 1500px;
    width: 100%;
    /*height: 1000px;*/
    height: 100%;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    background: #f2f2f2;
    /*background: #b8b8ba;*/
    /*background: #f7f7f7;*/
    animation: fadeIn 1.2s ease-in-out forwards;
    opacity: 0;
    flex-direction: column;
}
.about-row {
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-start;
    gap: 50px;
    border-left: 3px solid #ffce00;
    border-top: 3px solid #ffce00;
    border-right: 3px solid #ffce00;
}

/* LEFT COLUMN - INFO */
.about-info {
    /*flex: 1;*/
    width: 50%;
    padding: 20px;
    
}

.about-info h2 {
    padding-top: 50px;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #4685eb;
    font-weight: 700;
    padding-left: 100px;
}

.about-info p {
    font-size: 1.3rem;
    color: #282829;
    margin-bottom: 8px;
    font-weight: 500;
    text-align: justify;
}

.follow-text {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
}

/* RIGHT COLUMN - IMAGE + ICONS */
.my-img {
    padding-top: 20px;
    width: 40%;
    text-align: center;
}

.my-img img {
    
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background: #d9d9d9;
    object-fit: cover;
    border: 6px solid #4685eb;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
}
.my-img img:hover{
    transform: scale(1.1);
}

/* Social Icons */
.my-img i {
    font-size: 2.5rem;
    margin: 0 10px;
    color: #333;
    transition: 0.3s ease;
    cursor: pointer;
}

.my-img i:hover {
    color: #4685eb;
    transform: translateY(-5px);
}


/*end about section*/
/* START my-location design */

.my-location {
    clear: both;
    width: 100%;
    display: flex;
    justify-content: center;
}

.map-wrapper {
    width: 100%;
    max-width: 900px;
    /*background: #ffffff;*/
    background: #ebe9e8;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
    border: 2px solid #e6e6e6;
    text-align: center;
    animation: fadeIn 1.2s ease-in-out forwards;
    opacity: 0;
}

.map-wrapper .box h3 {
    font-size: 2rem;
    color: #4685eb;
    font-weight: 700;
    margin-bottom: 10px;
}

.map-wrapper .box p {
    font-size: 1.2rem;
    color: #333;
    
    margin-bottom: 15px;
}

.map-wrapper iframe {
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.15);
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}
.map-wrapper iframe:hover{
    opacity: 1;
    transform: scale(1.1);
}
/* END my-location design */
/*start projects sections*/
.projects-section{
    width: 100%;
    padding: 80px 60px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-title{
    text-align: center;
    margin-bottom: 40px;
}
.projects-title h2{
    font-size: 3rem;
    color: #4685eb;
    font-weight: 700;
}
.projects-title p{
    font-size: 1.2rem;
    color: #444;
    margin-top: 10px;
}
/* GRID LAYOUT */
.project-grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
/* PROJECT CARD */
.project-card{
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    transition: 0.3s ease-in-out;
    border-top: 3px solid #ffce00;
    border-left: 3px solid #ffce00;
    border-right: 3px solid #ffce00;
    border-bottom: 3px solid #ffce00;
    width: calc(50% - 30px);
    max-width: 500px;
}
.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
}
/* PROJECT IMAGE */
.project-card img {
    width: 100%;
    height: 300px;
    
    /*object-fit: cover;*/
}
/* PROJECT INFO */
.project-info {
    padding: 20px;
}

.project-info h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #4685eb;
    margin-bottom: 10px;
}

.project-info p {
    text-align: justify;
    color: #444;
    font-size: 1.1rem;
    line-height: 1.6;
}
/* ICONS */
.project-icons {
    margin-top: 15px;
}

.project-icons i {
    font-size: 2.2rem;
    margin-right: 10px;
    color: #333;
    transition: 0.3s ease;
}

.project-icons i:hover {
    color: #4685eb;
    transform: translateY(-3px);
}
/*end projects sections*/
/*start contact sections*/
.contact-section{
    width: 100%;
    padding: 80px 60px;
    background-color: #f7f7f7;
}
.contact-container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    display: flex;
    gap: 60px;
    padding: 40px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
}
/* LEFT SIDE FORM */
.contact-form{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.contact-form h2{
    font-size: 2.5rem;
    color: #4685eb;
    margin-bottom: 10px;
    font-weight: 700;
}
.contact-subtitle{
    font-size: 1.2rem;
    margin-bottom: 25px;
    color: #444;
}
.contact-form label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: #333;
    font-weight: 600;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: 0.3s ease;
    background: #f9f9f9;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #4685eb;
    box-shadow: 0 0 5px rgba(70, 133, 235, 0.4);
    outline: none;
}
.contact-form button {
    margin-top: 20px;
    padding: 12px;
    background: #4685eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.contact-form button:hover {
    background: #e6b85c;
}
/* RIGHT SIDE INFO */
.contact-info {
    width: 40%;
    background: #f2f2f2;
    padding: 30px;
    border-radius: 12px;
    border-left: 4px solid #4685eb;
}
.contact-info h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #4685eb;
    margin-bottom: 25px;
}
.info-box {
    margin-bottom: 20px;
}

.info-box .label {
    font-weight: 700;
    color: #4685eb;
    font-size: 1.2rem;
}

.info-box p {
    font-size: 1.1rem;
    color: #333;
}
#formStatus {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: opacity 0.5s ease;
}

.success-status {
    color: #28a745; /* green */
}

.error-status {
    color: #dc3545; /* red */
}
/*end contact sections*/